<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../stylesheet/second.css">
  <!-- bootstrap-->
  <link rel="stylesheet" href="/stylesheet/bootstrap.min.css">
<!--angular.js -->

<script src="lib/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
<script src="lib/angular-filter.min.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="/javascript/blog.js"></script>
</head>
<body>
<nav class="navbar">
  <div class="container-fluid">
   
   <div class="row">
   <div class="col-sm-2">
       <h2>TO DO APP</h2>
   </div>
   <div class="col-sm-8">
            
     <form class="navbar-form">
        <div class="form-group" style="display:inline;">
          <div class="input-group" style="display:table;">
            
            <input class="form-control input-lg" name="search" placeholder="Search Here" autocomplete="off" autofocus="autofocus" type="text">
             <span class="input-group-addon" style="width:5%;"><span class="glyphicon glyphicon-search"></span></span>

          </div>
        </div>
      </form>
      <div class="row">
 
        <div class="col-lg-3">

        <div class="dropdown">
  <button class="dropbtn">Dropdown</button>
  <div class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div>


        </div>

        <div class="col-lg-3">
              <div class="dropdown">
  <button class="dropbtn">Dropdown</button>
  <div class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div>
        </div>

        <div class="col-lg-3">
         
                <div class="dropdown">
  <button class="dropbtn">Dropdown</button>
  <div class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div>



            </div>
            
            <div class="col-lg-3">
           
       <div class="dropdown">
  <button class="dropbtn">Dropdown</button>
  <div class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div>
           
            </div> 



      </div>
   </div>
<div class="col-sm-1">
 <!-- <h4>kart <span class="glyphicon glyphicon-shopping-cart"></span></h4>-->
</div>

<div class="col-sm-1">
<!--<h5>Login/signup <span class="glyphicon glyphicon-shopping-cart"></span></h5>-->
</div>

   </div>
   </div>
  
       
 

<div class="container-fluid" style="padding-top: 20px;">
</nav>


  






<div class="row">




<div class="col-sm-2">
      
   <h3 style="padding-left:20px;">Side view</h3>
   
   
        <ul class="sideview">

<li>CHAT</li>
<br />
<li>BRAND</li>
<br/>
<li>CONNECT</li>
        </ul>
        <hr>

    <p style="padding-left:20px;">Something</p>
<ul class="sideview">
<br />
<li><a href="#">FRIEND</a></li>
<br />
<li><a href="#">friend</a></li>
<br/>
<li><a href="#">friend</a></li>
<br />
<li><a href="#">friend</a></li>
        </ul>
       <hr>
 <p style="padding-left:20px;">My Selections</p>
<ul class="sideview">
<br />
<li><a href="#">friend</a></li>
<br />
<li><a href="#">friend</a></li>
<br/>
<li><a href="#">friend</a></li>
<br />
<li><a href="#">friend</a></li>
<br />
<li><a href="#">friend</a></li>
        </ul>


</div>

<div class="col-sm-8">
<div ng-app ="main" ng-controller="mainCtrl">

 <!-- Name: <input type="text" ng-model="use.message">
  <button ng-click="datapost()">RESET</button>-->
 <!-- <div>
    <h6>Title</h6>
    <input type="text" ng-model="use.Title" id="comment-msg-btn"> 
<h6>Username</h6>
    <input type="text" ng-model="use.User" id="comment-msg-btn">
<textarea id="comment-message"  name = "comment" placeholder = "Message" ng-model = "use.Descp"></textarea>
<button id="comment-msg-btn" class="btn btn-danger btn-block" ng-click="datapost()">Button 1</button>
</div>-->


<h5> Title</h5>
 <input type="text" class="form-control" id="comment-msg-btn" ng-model="use.Title"> 
<h5>User</h5>
 <input type="text" class="form-control" id="comment-msg-btn" ng-model = "use.User">
<textarea id="comment-message"  name = "comment" placeholder = "Message" ng-model = "use.Descp"></textarea>
<hr>
<button id="comment-msg-btn" class="btn btn-danger btn-block" ng-click="datapost()">Button 1</button>

<a href="http://localhost:8080/second.html" class="btn btn-default"><span class="fa fa-user"></span> See the post</a>
</div>
</div>

<div class="col-sm-2">

<h3 style="padding-left:20px;">PARTY</h3>
<hr>
<img src=../images/rock.jpg style="width:190px;">

</div>
</div>
</body>
</html>