<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login/Signup</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- bootstrap-->
  <link rel="stylesheet" href="/stylesheet/bootstrap.min.css">
  <script src="lib/jquery.min.js"></script>
  <script src="lib/bootstrap.min.js"></script>
</head>
<body>


<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span>To DO APP</h1>

        <p>What u want</p>

        <a href="http://localhost:8080/blog.html" class="btn btn-default"><span class="fa fa-user"></span>  Post Something</a>
        <a href="http://localhost:8080/second.html" class="btn btn-default"><span class="fa fa-user"></span> See the TASK</a>
    </div>

</div>
</body>
</html>